<!DOCTYPE html>
<html>
    <head>
        {% block meta %}{% endblock %}
        <title>{% block title %}SB Admin 2 - Bootstrap Admin Theme{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
